@use "../../styles/partials/mixin" as *;

.search {
    &__logo {
        position: absolute;
        z-index: 99;
        margin: 0.5rem;
    }

    &__input {
        position: relative;
        border-radius: 5px;
        outline: none;
        padding: 0.7rem 4rem;
        background-color: #fafafa;
        border: 1.5px solid #e1e1e1;

        @include tablet {
            max-width: 6rem;
            padding: 0.65rem 2rem;
            margin-right: 1rem;
        }
    }
}
